* { 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}


body{
	font-family:Helvetica, Arial,sans-serif;
	font-weight:bold;
	font-size:100%;
}

header {
	width:100%;
	height:4em;
	position:fixed;
	z-index:999;
	overflow:hidden;
	background:rgba(255, 255, 255, 0.25) none repeat scroll 0% 0%
}

#description {
	float:left;
	margin-left:6em;
	text-align:center;
	font-size: .675em;
}

#name {
	margin:0.25em 0;
	padding:0.25em 0;
	border-bottom:1px solid #333
}

#personalcv {
	margin:0
}

#contacts ul {
	font-size:1em;
	list-style-type:none;
	margin-right:5em;
	color:#fff
}

#contacts li {
	float:right;
	margin: auto 3em;
}

h1{
	font-size:4em;
	margin:0;
	text-shadow:2px 2px 1px #d1d2d4;
	text-align:center
}

h4{
	font-size:1.5em;
	margin:1.5em 0;
}

p{
	font-size:1.5em;
}


a{
	color:#f8bd0b;
	text-decoration:none
}

a:hover{
	color:#d1d2d4
}

p{
	color:white
}

span {
	color:black;
	font-weight:bold;
	font-size:1.3em
}

#subtitle{
	margin:1.5em 0;
	color:#f8bd0b
}

#nav ul {
  	width:100%;
}
#nav li {
	border-radius:4px;
	margin:1em 1em .5em 1em;
	padding:.5em .5em;
  	display:inline-block;
	background-color:#019fde
}
#nav li:hover{
	cursor:pointer;
	background-color:#f8bd0b
}

#slideshow {
  	width:150px;
  	height:150px;
  	margin:0 auto;
  	position:relative;
  	overflow:hidden
}

#details li {
	list-style:none;
	font-size:1.2em;
	margin:1.2em auto;
	color:black
}

img#preview {
  position:absolute;
  top:0;
  left:0;
  border-width:0;
  outline-width:0
}

.myproject {
	float:left;
	height:35%;
	width:50%;
}

.sun {
	background-image:url(../images/sun.jpg);
	background-size:100% 100%
}


.bluesea {
	background-image:url(../images/bluesea.jpg);
	background-size:100% 100%
}

.balloon {
	background-image:url(../images/balloon.jpg);
	background-size:100% 100%
}

.ocean {
	background-image:url(../images/ocean.jpg);
	background-size:100% 100%
}

.section{
	color:#eef3f0;
	padding:5em
}

.section.initing{
	display:none
}

.center{
	text-align:center
}
#change-color {
	color:black
}

.selected {
	background-color: #e8d098
}

@media screen and (max-width: 760px) {

.mobile * {
	text-shadow:none !important
}

.mobile h1{
	font-size:2.5em;
	margin:0
}

.mobile h4{
	font-size:.75em;
	margin:1.5em 0;
}

.mobile p{
	font-size:.75em;
}
.mobile #description {
	float:left;
	margin-left:2em;
	text-align:center;
	font-size: .675em;
}
.mobile #contacts ul {
	font-size:.675em;
	list-style-type:none;
	margin-right:2em;
	color:#fff
}
.mobile #contacts li {
	float:right;
	margin: .5em 2em;
}


.mobile #details li {
	list-style:none;
	font-size:.75em;
	margin:1.2em auto;
	color:black
}
.mobile .myproject {
	display:block;
}
}